<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IMeasureService" />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:8090/MeasureService" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_IMeasureService" contract="ServiceReference1.IMeasureService"
        name="NetTcpBinding_IMeasureService">
        <identity>
          <userPrincipalName value="JAROSLAV\jaros" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <connectionStrings>
    <add name="MeasuringDBEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JAROSLAV\TACVISTA;initial catalog=Merenje;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>